services:
  azurite:
    container_name: ddev-${DDEV_SITENAME}-azurite
    image: ${AZURITE_DOCKER_IMAGE:-mcr.microsoft.com/azure-storage/azurite}
    command: "azurite --blobHost 0.0.0.0 --queueHost 0.0.0.0 --tableHost 0.0.0.0"
    restart: "no"
    # These labels ensure this service is discoverable by DDEV.
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}

    volumes:
      - ".:/mnt/ddev_config"
      - "ddev-global-cache:/mnt/ddev-global-cache"
      - azurite_data:/data
    expose:
      - 10000
      - 10001
      - 10002

volumes:
  azurite_data:
